<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de FAKE NEWS !</h1>
   
 			<% gossips.each do |gossip| %>
       <p>
          <%= gossip.author %>
          <br/>
          <%= gossip.content %>
        </p>
      <% end %>
		<br>
   <p> Pour balancer une nouvelle info dont tout le monde se moque c'est <a href="/gossips/new/">ICI</a> !</p>
  </body>
</html>