<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de FAKE NEWS !</h1>
   
 			<% gossips.each_with_index do |gossip, id| %>
       
         <p> <%= gossip.author %>
          <br/>
          <%= gossip.content %>
        </p>
        <p> =>	
       <a href="/gossips/<%= id + 1 %>">Page du ragot n°<%= id + 1 %> </a></p>
      <% end %>
		<br>
   <p> Pour balancer une nouvelle info dont tout le monde se moque c'est <a href="/gossips/new/">ICI</a> !</p>
  </body>
</html>