<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Page Potin</h1>
    <br/>
<h2>Ceci est le potin n°<%= find_gossip %></h2>
</br>
 		<p> L'auteur.ice de ce potin est : <%= wanted_gossip.author %> </p>
    <p> Le potin en question : <%= wanted_gossip.content %></p>
    </br>
<p><a href="/">Revenir à l'accueil</a></p>

    </body>
</html>